body{
    background-color: aliceblue;
}
p{
    text-align: center;
    margin-top: 200px;
    font-size: 150px;
    border: 10px dotted red;
    cursor: pointer;
}
p span:hover{
    color: red;
    content: '❤️';
    transition: 0.3s;
    font-size: 100px;
}
